<div style="background-image: url('../../../assets/images/repeating.jpg');"> 
  <app-navbar></app-navbar>
  <div style="text-align: center; padding-top: 10px; margin-bottom: 20px; font-size: 60px; color: whitesmoke">About</div>
  <div class="conteiner jumbotron" style=" text-align: left;  margin-left: 13%; margin-right: 13%; padding: 0; padding-bottom: 50px; background-color: rgb(22, 22, 22)">
      <div style="text-align: center; padding-top: 20px;margin-bottom: 20px; font-size: 45px; color: whitesmoke">What is LoL Picker?</div>
    <div style="margin-left: 5%; margin-right: 5%; font-size: 20px; color: rgb(211, 211, 211)">
      LoL Picker or League of Legends Picker is a tool which suggests the best fitting champions for you
        based on what you want more - to counter the enemy or have synergy with your team composition 
      
    </div>
    <div style="height: 25px;"></div>
    <hr style="background-color: grey;">
    <div style="text-align: center; margin-top: 30px; margin-bottom: 20px; font-size: 45px; color: whitesmoke">What should I choose?</div>
    <div style="margin-left: 5%; margin-right: 5%; font-size: 20px; color: rgb(211, 211, 211);">
      <div style="display: inline-block; width: 49%; text-align: center;">
        
          <div style="font-size: 30px; margin-bottom: 10px;">Choose <b style="color: rgb(99, 0, 0)">counters</b> if you: </div>
          <div style="font-size: 18px;">
              <div>didn't get your main role</div>
              <div>or</div>
              <div>are playing as a carry</div>
            </div>
      </div>
      <div style="display: inline-block; width: 49%; text-align: center;">
        
                
          <div style="font-size: 30px; margin-bottom: 10px;">Choose <b style="color: rgb(21, 31, 168)">synergy</b> if you: </div>
          <div style="font-size: 18px;">
              <div>got your main role</div>
              <div>or</div>
              <div>are playing as a support</div>
            </div>

      </div>
      <div style="height: 25px;"></div>
      <hr style="background-color: grey;">
      <div style="text-align: center; margin-top: 30px; margin-bottom: 20px; font-size: 45px; color: whitesmoke">How to use</div>
    <div style="font-size: 20px; color: rgb(211, 211, 211);">
      <div style="margin-bottom: 10px;">If you chose <b style="color: rgb(99, 0, 0)">counters</b> just input currently known enemy champions and hit <b>find</b>. You will see all suggested champions
      for all lanes.</div>
      <div>If you chose <b style="color: rgb(21, 31, 168)">synergy</b> input currently known teammate champions and leave your role blank. After that you will see all suggested champions
      for lanes that you left blank</div>
      </div>
      
    </div>
  </div>
<app-footer></app-footer>
</div>