<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121648082-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-121648082-1');
</script>

</head>

<div class="conteiner" style="text-align: center; text-align: center; margin-left: 13%; margin-right: 13%; padding: 0;  min-height: calc(100vh - 145px);">
  <div style="font-size: 70px; margin-top: 20px; padding-top: 40px; color:whitesmoke;"> Find the best picks </div>
  <div style="font-size: 40px;"> Gain advantage </div>
  
  
  <div style="height: 90px;"></div>


  <hr>
  <div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px;" >
  <div style="height: 20px;"></div>
  <div class="row">
    <div style="display: inline-block"></div>
    <div class="col-6">
      <div style="margin-bottom: 40px; padding-left: 20%; padding-right: 20%; color: lightgray; font-size: 20px;">Best champion combinations for your team</div>
      <button class="btn btn-secondary" a [routerLink]="['/synergy']">SYNERGY</button>
      <div style="height: 20px;"></div>
    </div>

    <div class="col-6">
        <div style="margin-bottom: 40px; padding-left: 20%; padding-right: 20%; color: lightgray; font-size: 20px; ">Best champion combinations against your enemy</div>
        <button class="btn btn-secondary" a [routerLink]="['/counter']">COUNTERS</button>
        <div style="height: 20px;"></div>
    </div>
   
    <div style="height: 100px;"></div>
  </div>
</div>
</div>
<app-footer></app-footer>
