<div class="conteiner" style="text-align: center;">

        <div style="display: inline-block;" *ngFor="let ch of searchChampions; let ind = index;">

            <div class="card border-success just-box" style="height: 100px;width: 100px;" (click)="setSelected(ind)">

            {{ch.name}}
            </div>
        
        </div>
        <br>
        <div style="height: 20px"></div>
    <button type="button" class="btn btn-primary" [disabled]="loading" >Find</button>

    <div style="height: 20px"></div>
    <div>
        <div style="display: inline-block;" *ngFor="let ch of championList; let ind = index;">

            <div class="card border-success just-box" style="height: 100px;width: 100px;" (click)="pickChampion(ch.id)">

            {{ch.name}}
            </div>
        
        </div>
    </div>
</div>