<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121648082-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-121648082-1');
</script>

</head>
<div style="min-height: calc(100vh - 145px);">
  <div style="text-align: center; height: 100px; margin-top: 50px; margin-bottom: 30px; font-size: 50px; color: whitesmoke">Contact</div>
  <div class="conteiner" style=" text-align: left; margin-left: 13%; margin-right: 13%; padding: 0;">
    <div style="margin-left: 20%; margin-right: 20%; font-size: 20px;">
    If you have a suggestion, question, or noticed something wrong with the page, I'd love to hear what you have to say.
      <br>
      <br>
    You can contact me via email lolpicker.info@gmail.com
  </div>
    </div>

</div>
<app-footer></app-footer>