<nav class="navbar navbar-expand-lg navbar-dark" style=" padding-left: 13%; padding-right: 13%; height: 60px;">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01" style="justify-content: center;">
      <div><img src="../../../../assets/images/logo.png" a [routerLink]="['']" style="height: 60px;top: 0; left: 20px; position: absolute; cursor: pointer;"></div>
    <ul class="navbar-nav mr-auto" style="align-items: center; justify-content: right;">
        
      <li class="nav-item">
          <a style="margin-left: 40px;" class="nav-link" a [routerLink]="['/counter']">Find counters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" a [routerLink]="['/synergy']">Find synergy</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" a [routerLink]="['/about']">About</a>
      </li>


      
      
    </ul>
    
    <ul class="my-2 my-lg-0">
    
        <div style="font-size: 13px;"> <b>PATCH 8.13</b></div>
   
  </ul>

  </div>
  
</nav>