<div style="text-align: center; height: 30px; margin-top: 10px;">SYNERGY</div>
<div class="conteiner jumbotron" style="text-align: center; margin-left: 13%; margin-right: 13%;">
        <div style="text-align: center; height: 30px; margin-top: 5px;">YOUR TEAM</div>
  <div style="display: inline-block;" *ngFor="let ch of searchChampions; let ind = index;">
     <b> {{searchChampionsPositions[ind]}} </b>
      <div class="card border-primary just-box" style="height: 122px;width: 102px; margin: 3px;" (click)="setSelected(ind)">
            <a href="javascript:;" style="text-decoration:none; color: lightgray;">
              <div style="height: 20px; background-color: rgb(70, 70, 70)">{{ch.name}}</div>
              <img src="../../../assets/images/champions/{{ch.id}}.png" >
              </a>
      </div>
  
  </div>
  <br>
  <div style="height: 20px"></div>





<button type="button" class="btn btn-primary" [disabled]="loading" (click)="search()" >Find</button>
<br>
<div style="text-align: left;">
  <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample">
      Show/Hide
  </button>
</div>

<div class="collapse" id="collapseExample">
  <div style=" margin-top: 10px;text-align: left;">
      <div style="display: inline-block;" *ngFor="let ch of searchChampions; let ind = index;">
          
          

          

      </div>
      <div *ngIf="suggestion0.length != 0">
          
          <div class="card border-primary just-box" style="display: inline-block;">
              <div style="height: 20px; text-align: center;">{{searchChampionsPositions[0]}}</div>
              <img src="../../../assets/images/champions/-1.png">
              <div style="height: 20px;">Winrate</div>
              <div style="height: 20px;">Games</div>
          </div>
          <img src="../../../assets/images/arrow.jpg">


          <div style="display: inline-block;" *ngFor="let ch of suggestion0; let ind = index;">
          
              <div *ngIf="ind < 3" class="card border-primary just-box" style="display: inline-block;">
                  <div style="height: 20px; text-align: center;">{{championListForDisplay[ch.ChampionId].name}}</div>
                      <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                      <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                      <div style="height: 20px;">Games: {{ch.Total}}</div>
              </div>
          </div>
      </div>


      
      <div *ngIf="suggestion1.length != 0">
          
              <div class="card border-primary just-box" style="display: inline-block;">
                  <div>
                  <div style="height: 20px; text-align: center;">{{searchChampionsPositions[1]}}</div>
                  <img src="../../../assets/images/champions/-2.png">
                  <div style="height: 20px;">Winrate</div>
                  <div style="height: 20px;">Games</div>
              </div>
              </div>
              
              <img src="../../../assets/images/arrow.jpg">
          

              <div style="display: inline-block;" *ngFor="let ch of suggestion1; let ind = index;">
              
                  <div *ngIf="ind < 3" class="card border-primary just-box" style="display: inline-block;">
                      <div style="height: 160px;">
                          <div style="height: 20px; text-align: center;">{{championListForDisplay[ch.ChampionId].name}}</div>
                          <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                          <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                          <div style="height: 20px;">Games: {{ch.Total}}</div>
                      </div>
                           
                  </div>
              </div>
          
      </div>

      <div *ngIf="suggestion2.length != 0">
          
          <div class="card border-primary just-box" style="display: inline-block;">
              <div style="height: 20px; text-align: center;">{{searchChampionsPositions[2]}}</div>
              <img src="../../../assets/images/champions/-3.png">
              <div style="height: 20px;">Winrate</div>
                  <div style="height: 20px;">Games</div>
          </div>
          <img src="../../../assets/images/arrow.jpg">


          <div style="display: inline-block;" *ngFor="let ch of suggestion2; let ind = index;">
          
              <div *ngIf="ind < 3" class="card border-primary just-box" style="display: inline-block;">
                  <div style="height: 20px; text-align: center;">{{championListForDisplay[ch.ChampionId].name}}</div>
                      <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                      <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                      <div style="height: 20px;">Games: {{ch.Total}}</div>
              </div>
          </div>
      </div>

      <div *ngIf="suggestion3.length != 0">
          
          <div class="card border-primary just-box" style="display: inline-block;">
              <div style="height: 20px; text-align: center;">{{searchChampionsPositions[3]}}</div>
              <img src="../../../assets/images/champions/-4.png">
              <div style="height: 20px;">Winrate</div>
                  <div style="height: 20px;">Games</div>
          </div>
          <img src="../../../assets/images/arrow.jpg">


          <div style="display: inline-block;" *ngFor="let ch of suggestion3; let ind = index;">
          
              <div *ngIf="ind < 3" class="card border-primary just-box" style="display: inline-block;">
                  <div style="height: 20px; text-align: center;">{{championListForDisplay[ch.ChampionId].name}}</div>
                      <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                      <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                          <div style="height: 20px;">Games: {{ch.Total}}</div>
              </div>
          </div>
      </div>

      <div *ngIf="suggestion4.length != 0">
          
          <div class="card border-primary just-box" style="display: inline-block;">
              <div style="height: 20px; text-align: center;">{{searchChampionsPositions[4]}}</div>
              <img src="../../../assets/images/champions/-5.png">
              <div style="height: 20px;">Winrate</div>
                  <div style="height: 20px;">Games</div>
          </div>
          <img src="../../../assets/images/arrow.jpg">


          <div style="display: inline-block;" *ngFor="let ch of suggestion4; let ind = index;">
          
              <div *ngIf="ind < 3" class="card border-primary just-box" style="display: inline-block;">
                  <div style="height: 20px; text-align: center;">{{championListForDisplay[ch.ChampionId].name}}</div>
                      <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                      <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                          <div style="height: 20px;">Games: {{ch.Total}}</div>
              </div>
          </div>
      </div>


  </div>
</div>




<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
      
  </div>
  <div class="col-4">
          <app-filter (filterEvent)=setSearchInput($event)></app-filter>
  </div>
</div>

<div style="height: 20px"></div>
<div>
  <div style="display: inline-block;"  *ngFor="let ch of championList | championFilter: searchInput; let ind = index;">
      <div class="card just-box"  style="height: 107px;width: 85px; margin: 5px;" (click)="pickChampion(ch.id)">
        <a href="javascript:;" style="text-decoration:none; color: lightgray;">
      <div style="height: 20px;"><b><font size="2">{{ch.name}}</font></b></div>
    
      <img style="height: 85px; width: 83px;" src="../../../assets/images/champions/{{ch.id}}.png" >
    </a>
      </div>
  
  </div>
</div>
<script>
      function messsage() {
          console.log("a");
      }
</script>
</div>

