<div style="text-align: center; height: 60px; margin-top: 10px; font-size: 35px;">SYNERGY</div>
<div class="conteiner jumbotron" style="background-color: rgb(30,30,30); text-align: center; margin-left: 13%; margin-right: 13%; padding: 0; margin-bottom: 0;">
    <div style=" background: linear-gradient(rgb(10, 0, 150), rgb(30,30,30))">
    <div style="text-align: center; height: 40px; margin-bottom: 10px; padding-top: 10px; font-size: 20px;">YOUR TEAM</div>

  <div style="display: inline-block; padding-bottom:15px;" *ngFor="let ch of searchChampions; let ind = index;">
     <b> {{searchChampionsPositions[ind]}} </b>
      <div *ngIf="selected == ind" class="card just-box" style="height: 122px;width: 102px; margin: 3px; border-color: rgb(95, 93, 255)" (click)="setSelected(ind)">
            <a href="javascript:;" style="text-decoration:none; color: lightgray;">
              <div style="height: 20px; background-color: rgb(70, 70, 70)">{{ch.name}}</div>
              <img src="../../../assets/images/champions/{{ch.id}}.png" >
              </a>
      </div>
      <div *ngIf="selected != ind" class="card just-box" style="height: 122px;width: 102px; margin: 3px; border-color:  rgb(0, 11, 161)" (click)="setSelected(ind)">
            <a href="javascript:;" style="text-decoration:none; color: lightgray;">
              <div style="height: 20px; background-color: rgb(70, 70, 70)">{{ch.name}}</div>
              <img src="../../../assets/images/champions/{{ch.id}}.png" >
              </a>
      </div>
  </div>
  
</div>
  <br>
  <div style="height: 20px"></div>





<button type="button" class="btn btn-primary" [disabled]="loading" (click)="search()" >Find synergy</button>
<br>
<div  style="text-align: left; margin-left: 70px;">
  <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample">
      Show/Hide
  </button>
</div>

<div class="collapse" id="collapseExample">
  <div style=" margin-top: 10px;text-align: left;">

        <div class="champBlock">
                            
                <div style="color: lightgray; text-align: center;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[0]}}</div>
                    <img src="../../../assets/images/champions/-1.png"> 
                </div>
            
            
                <div class="row" style="text-align: center;">
                    <div style="padding-left: 30px;" class="col-6">
                        <b style="font-size: 30px;">BEST SYNERGY WITH</b>
                        <table *ngIf="suggestion0.length != 0" class="table table-hover">
                                <thead>
                                    <tr>
                                    
                                    <th scope="col"></th>
                                    
                                    <th scope="col">Win rate</th>
                                    <th scope="col">Games analysed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                        
                                <tr *ngFor="let ch of suggestion0; let ind = index;">

                                        <td style="text-align: left;">
                                            <div style="display: inline-block; ">
                                            <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                            </div>
                                            <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                                <br>
                                                <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                            </div>
                                            
                                            
                                        
                                            
                                        </td>
                                        
                                        <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                        <td style="vertical-align: middle;">{{ch.Total}}</td>
                                        </tr>
                                    
                                
                                    </tbody>   
                        </table>
                        <div *ngIf="suggestion0.length == 0" style="text-align: center"> NO DATA</div>
                        
                    </div>

                    <div style="padding-right: 30px;" class="col-6">
                        <b style="font-size: 30px;">BAD SYNERGY WITH</b>
                        <table *ngIf="suggestion0Worst.length != 0" class="table table-hover">
                            <thead>
                                <tr>
                                
                                <th scope="col"></th>
                                
                                <th scope="col">Win rate</th>
                                <th scope="col">Games analysed</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            <tr *ngFor="let ch of suggestion0Worst; let ind = index;">
            
                                <td style="text-align: left;">
                                    <div style="display: inline-block; ">
                                    <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                    </div>
                                    <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                        <br>
                                        <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                    </div>
                                </td>
                                
                                <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                <td style="vertical-align: middle;">{{ch.Total}}</td>
                                </tr>
                                
                            
                            </tbody>
                        </table>
                        <div *ngIf="suggestion0Worst.length == 0" style="text-align: center"> NO DATA</div>
                            
                    </div>
                        
                </div>
            </div>

            <div class="champBlock">
                            
                    <div style="color: lightgray; text-align: center;">
                        <div style="height: 20px; text-align: center;">{{searchChampionsPositions[1]}}</div>
                        <img src="../../../assets/images/champions/-2.png"> 
                    </div>
                
                
                    <div class="row" style="text-align: center;">
                        <div style="padding-left: 30px;" class="col-6">
                            <b style="font-size: 30px;">BEST SYNERGY WITH</b>
                            <table *ngIf="suggestion1.length != 0" class="table table-hover">
                                    <thead>
                                        <tr>
                                        
                                        <th scope="col"></th>
                                        
                                        <th scope="col">Win rate</th>
                                        <th scope="col">Games analysed</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                            
                                    <tr *ngFor="let ch of suggestion1; let ind = index;">
    
                                            <td style="text-align: left;">
                                                <div style="display: inline-block; ">
                                                <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                                </div>
                                                <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                                    <br>
                                                    <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                                </div>
                                                
                                                
                                            
                                                
                                            </td>
                                            
                                            <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                            <td style="vertical-align: middle;">{{ch.Total}}</td>
                                            </tr>
                                        
                                    
                                        </tbody>   
                            </table>
                            <div *ngIf="suggestion1.length == 0" style="text-align: center"> NO DATA</div>
                            
                        </div>
    
                        <div style="padding-right: 30px;" class="col-6">
                            <b style="font-size: 30px;">BAD SYNERGY WITH</b>
                            <table *ngIf="suggestion1Worst.length != 0" class="table table-hover">
                                <thead>
                                    <tr>
                                    
                                    <th scope="col"></th>
                                    
                                    <th scope="col">Win rate</th>
                                    <th scope="col">Games analysed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                <tr *ngFor="let ch of suggestion1Worst; let ind = index;">
                
                                    <td style="text-align: left;">
                                        <div style="display: inline-block; ">
                                        <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                        </div>
                                        <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                            <br>
                                            <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                        </div>
                                    </td>
                                    
                                    <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                    <td style="vertical-align: middle;">{{ch.Total}}</td>
                                    </tr>
                                    
                                
                                </tbody>
                            </table>
                            <div *ngIf="suggestion1Worst.length == 0" style="text-align: center"> NO DATA</div>
                                
                        </div>
                            
                    </div>
                </div>

                <div class="champBlock">
                            
                <div style="color: lightgray; text-align: center;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[2]}}</div>
                    <img src="../../../assets/images/champions/-3.png"> 
                </div>
            
            
                <div class="row" style="text-align: center;">
                    <div style="padding-left: 30px;" class="col-6">
                        <b style="font-size: 30px;">BEST SYNERGY WITH</b>
                        <table *ngIf="suggestion2.length != 0" class="table table-hover">
                                <thead>
                                    <tr>
                                    
                                    <th scope="col"></th>
                                    
                                    <th scope="col">Win rate</th>
                                    <th scope="col">Games analysed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                        
                                <tr *ngFor="let ch of suggestion2; let ind = index;">

                                        <td style="text-align: left;">
                                            <div style="display: inline-block; ">
                                            <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                            </div>
                                            <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                                <br>
                                                <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                            </div>
                                            
                                            
                                        
                                            
                                        </td>
                                        
                                        <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                        <td style="vertical-align: middle;">{{ch.Total}}</td>
                                        </tr>
                                    
                                
                                    </tbody>   
                        </table>
                        <div *ngIf="suggestion2.length == 0" style="text-align: center"> NO DATA</div>
                        
                    </div>

                    <div style="padding-right: 30px;" class="col-6">
                        <b style="font-size: 30px;">BAD SYNERGY WITH</b>
                        <table *ngIf="suggestion2Worst.length != 0" class="table table-hover">
                            <thead>
                                <tr>
                                
                                <th scope="col"></th>
                                
                                <th scope="col">Win rate</th>
                                <th scope="col">Games analysed</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            <tr *ngFor="let ch of suggestion2Worst; let ind = index;">
            
                                <td style="text-align: left;">
                                    <div style="display: inline-block; ">
                                    <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                    </div>
                                    <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                        <br>
                                        <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                    </div>
                                </td>
                                
                                <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                <td style="vertical-align: middle;">{{ch.Total}}</td>
                                </tr>
                                
                            
                            </tbody>
                        </table>
                        <div *ngIf="suggestion2Worst.length == 0" style="text-align: center"> NO DATA</div>
                            
                    </div>
                        
                </div>
            </div>

            <div class="champBlock">
                            
                <div style="color: lightgray; text-align: center;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[3]}}</div>
                    <img src="../../../assets/images/champions/-4.png"> 
                </div>
            
            
                <div class="row" style="text-align: center;">
                    <div style="padding-left: 30px;" class="col-6">
                        <b style="font-size: 30px;">BEST SYNERGY WITH</b>
                        <table *ngIf="suggestion3.length != 0" class="table table-hover">
                                <thead>
                                    <tr>
                                    
                                    <th scope="col"></th>
                                    
                                    <th scope="col">Win rate</th>
                                    <th scope="col">Games analysed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                        
                                <tr *ngFor="let ch of suggestion3; let ind = index;">

                                        <td style="text-align: left;">
                                            <div style="display: inline-block; ">
                                            <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                            </div>
                                            <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                                <br>
                                                <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                            </div>
                                            
                                            
                                        
                                            
                                        </td>
                                        
                                        <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                        <td style="vertical-align: middle;">{{ch.Total}}</td>
                                        </tr>
                                    
                                
                                    </tbody>   
                        </table>
                        <div *ngIf="suggestion3.length == 0" style="text-align: center"> NO DATA</div>
                        
                    </div>

                    <div style="padding-right: 30px;" class="col-6">
                        <b style="font-size: 30px;">BAD SYNERGY WITH</b>
                        <table *ngIf="suggestion3Worst.length != 0" class="table table-hover">
                            <thead>
                                <tr>
                                
                                <th scope="col"></th>
                                
                                <th scope="col">Win rate</th>
                                <th scope="col">Games analysed</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            <tr *ngFor="let ch of suggestion3Worst; let ind = index;">
            
                                <td style="text-align: left;">
                                    <div style="display: inline-block; ">
                                    <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                    </div>
                                    <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                        <br>
                                        <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                    </div>
                                </td>
                                
                                <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                <td style="vertical-align: middle;">{{ch.Total}}</td>
                                </tr>
                                
                            
                            </tbody>
                        </table>
                        <div *ngIf="suggestion3Worst.length == 0" style="text-align: center"> NO DATA</div>
                            
                    </div>
                        
                </div>
            </div>

            <div class="champBlock">
                            
                <div style="color: lightgray; text-align: center;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[4]}}</div>
                    <img src="../../../assets/images/champions/-5.png"> 
                </div>
            
            
                <div class="row" style="text-align: center;">
                    <div style="padding-left: 30px;" class="col-6">
                        <b style="font-size: 30px;">BEST SYNERGY WITH</b>
                        <table *ngIf="suggestion4.length != 0" class="table table-hover">
                                <thead>
                                    <tr>
                                    
                                    <th scope="col"></th>
                                    
                                    <th scope="col">Win rate</th>
                                    <th scope="col">Games analysed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                        
                                <tr *ngFor="let ch of suggestion4; let ind = index;">

                                        <td style="text-align: left;">
                                            <div style="display: inline-block; ">
                                            <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                            </div>
                                            <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                                <br>
                                                <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                            </div>
                                            
                                            
                                        
                                            
                                        </td>
                                        
                                        <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                        <td style="vertical-align: middle;">{{ch.Total}}</td>
                                        </tr>
                                    
                                
                                    </tbody>   
                        </table>
                        <div *ngIf="suggestion4.length == 0" style="text-align: center"> NO DATA</div>
                        
                    </div>

                    <div style="padding-right: 30px;" class="col-6">
                        <b style="font-size: 30px;">BAD SYNERGY WITH</b>
                        <table *ngIf="suggestion4Worst.length != 0" class="table table-hover">
                            <thead>
                                <tr>
                                
                                <th scope="col"></th>
                                
                                <th scope="col">Win rate</th>
                                <th scope="col">Games analysed</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            <tr *ngFor="let ch of suggestion4Worst; let ind = index;">
            
                                <td style="text-align: left;">
                                    <div style="display: inline-block; ">
                                    <img style="border-radius: 50%; width: 70px; height: 70px;" src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                    </div>
                                    <div style="display: inline-block; margin-left: 10px; text-align: left;"> <b>{{championListForDisplay[ch.ChampionId].name}}</b>
                                        <br>
                                        <small>{{championListForDisplay[ch.ChampionId].title}}</small>
                                    </div>
                                </td>
                                
                                <td style="vertical-align: middle;"><b>{{ch.Winrate}}%</b></td>
                                <td style="vertical-align: middle;">{{ch.Total}}</td>
                                </tr>
                                
                            
                            </tbody>
                        </table>
                        <div *ngIf="suggestion4Worst.length == 0" style="text-align: center"> NO DATA</div>
                            
                    </div>
                        
                </div>
            </div>

  </div>
</div>




<div class="row">
  <div class="col-4">

  </div>
  <div class="col-4">
      
  </div>
  <div class="col-4">
          <app-filter (filterEvent)=setSearchInput($event)></app-filter>
  </div>
</div>

<div style="height: 20px"></div>
<div>
  <div style="display: inline-block;"  *ngFor="let ch of championList | championFilter: searchInput; let ind = index;">
      <div class="card just-box"  style="height: 107px;width: 85px; margin: 5px;" (click)="pickChampion(ch.id)">
        <a href="javascript:;" style="text-decoration:none; color: lightgray;">
      <div style="height: 20px;"><b><font size="2">{{ch.name}}</font></b></div>
    
      <img style="height: 85px; width: 83px;" src="../../../assets/images/champions/{{ch.id}}.png" >
    </a>
      </div>
  
  </div>
</div>
</div>
<app-footer></app-footer>

