div.card:hover { 
    background-color: rgb(76, 76, 76);
}
.block {
    height: 160px;
}
.block:before {
content: "";
display: inline-block;
vertical-align: middle;
height: 100%;
}
.champBlock {
    
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

i {
    background-color: transparent !important;   
}
i :hover {
    background-color: transparent !important;
}
.removeSelection
{
    background-color: rgba(85, 85, 85, 0.664);
    border-radius: 15%;
}
.removeSelection :hover
{
    background-color: rgba(211, 211, 211, 0.377);
    border-radius: 15%;
    
}