<div class="conteiner" style="text-align: center;">
  <div>Current match id:</div>{{generalData.currentMatchId}}<br>
  
  <br><div>Total team combinations:</div>{{generalData.totalTeamCombinations}}
  <div style="height: 50px;"></div>
  <div>loops: {{loops}}</div>
  Your API key:<br>
  <input type="text" #api name="api"><br>
  <br>
  How many matches to analyse?<br>
  <input type="text" #loop name="loop"><br>
  <br>
  <button type="button" class="btn btn-primary" (click)='Loop(api.value, loop.value)' [disabled]="loading" >Go</button>

  <div [hidden]="newTeam">new team! </div>
  <div [hidden]="updateTeam">team updated! </div>
  <div [hidden]="notFound">match doesn't exist!</div>
  <div [hidden]="badMap">Wrong game mode!</div>
  <div [hidden]="notRanked">Game is not ranked</div>
  <div [hidden]="lowRank">Player ranks are too low</div>
</div>