<div class="conteiner" style="text-align: center;">

        <div style="display: inline-block;" *ngFor="let ch of searchChampions; let ind = index;">
            {{searchChampionsPositions[ind]}}
            <div class="card border-success just-box" style="height: 122px;width: 105px;" (click)="setSelected(ind)">
                    <div style="height: 20px;">{{ch.name}}</div>
                    <img src="../../../assets/images/champions/{{ch.id}}.png" >
            </div>
        
        </div>
        <br>
        <div style="height: 20px"></div>


        <div>
            Winrate:
            <div class="progress" style="margin-left: 200px; margin-right: 200px;height: 20px;">
                    <div class="progress-bar" id="team1" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-success" id="team2" role="progressbar" style="width: 50%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            
                </div>
                <div style="position: absolute; left: 200px; margin-top: -60px; font-size: 30px;" > {{team1Winrate}} %</div>
            <div style="position: absolute; right: 200px; margin-top: -60px; font-size: 30px;"> {{team2Winrate}} %</div>
            <div style="height: 20px;"></div>

        </div>


    <button type="button" class="btn btn-primary" [disabled]="loading" (click)="search()" >Find</button>
    <br>
    <div style="text-align: left;">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample">
            Show/Hide
        </button>
    </div>
    
    <div class="collapse" id="collapseExample">
        <div style=" margin-top: 10px;text-align: left;">
            <div style="display: inline-block;" *ngFor="let ch of searchChampions; let ind = index;">
                
                <div *ngIf="ind < 5" class="card border-success just-box">
                        <div style="height: 20px; text-align: center;">{{searchChampionsPositions[ind]}}</div>
                        <img src="../../../assets/images/champions/{{ch.id}}.png">
                </div>

                

            </div>
            <div *ngIf="suggestion0.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[0]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                    <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion0; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                            <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>


            
            <div *ngIf="suggestion1.length != 0">
                
                    <div class="card border-success just-box" style="display: inline-block;">
                        <div>
                        <div style="height: 20px; text-align: center;">{{searchChampionsPositions[1]}}</div>
                        <img src="../../../assets/images/champions/0.png">
                        <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                    </div>
                    </div>
                    
                    <img src="../../../assets/images/arrow.jpg">
                

                    <div style="display: inline-block;" *ngFor="let ch of suggestion1; let ind = index;">
                    
                        <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                            <div style="height: 160px;">
                                <div style="height: 20px; text-align: center;">Name</div>
                                <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                            </div>
                                 
                        </div>
                    </div>
                
            </div>

            <div *ngIf="suggestion2.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[2]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion2; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                            <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>

            <div *ngIf="suggestion3.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[3]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion3; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>

            <div *ngIf="suggestion4.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[4]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion4; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>


        </div>



        <div style=" margin-top: 10px;text-align: left;">
            <div style="display: inline-block;" *ngFor="let ch of searchChampions; let ind = index;">
                
                <div *ngIf="ind >= 5" class="card border-success just-box">
                        <div style="height: 20px; text-align: center;">{{searchChampionsPositions[ind]}}</div>
                        <img src="../../../assets/images/champions/{{ch.id}}.png">
                </div>

                

            </div>
            <div *ngIf="suggestion5.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[5]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion5; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>


            
            <div *ngIf="suggestion6.length != 0">
                <div>
                    <div class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">{{searchChampionsPositions[6]}}</div>
                        <img src="../../../assets/images/champions/0.png">
                        <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                    </div>
                    <img src="../../../assets/images/arrow.jpg">


                    <div style="display: inline-block;" *ngFor="let ch of suggestion6; let ind = index;">
                    
                        <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                                <div style="height: 20px; text-align: center;">Name</div>
                                <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                                <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="suggestion7.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[7]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion7; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>

            <div *ngIf="suggestion8.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[8]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion8; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>

            <div *ngIf="suggestion9.length != 0">
                
                <div class="card border-success just-box" style="display: inline-block;">
                    <div style="height: 20px; text-align: center;">{{searchChampionsPositions[9]}}</div>
                    <img src="../../../assets/images/champions/0.png">
                    <div style="height: 20px;">Winrate</div>
                        <div style="height: 20px;">Games</div>
                </div>
                <img src="../../../assets/images/arrow.jpg">


                <div style="display: inline-block;" *ngFor="let ch of suggestion9; let ind = index;">
                
                    <div *ngIf="ind < 3" class="card border-success just-box" style="display: inline-block;">
                        <div style="height: 20px; text-align: center;">Name</div>
                            <img src="../../../assets/images/champions/{{ch.ChampionId}}.png">
                            <div style="height: 20px;">Winrate: {{ch.Winrate}}%</div>
                                <div style="height: 20px;">Games: {{ch.Total}}</div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    


    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            
        </div>
        <div class="col-4">
                <app-filter (filterEvent)=setSearchInput($event)></app-filter>
        </div>
    </div>

    <div style="height: 20px"></div>
    <div>
        <div style="display: inline-block;" *ngFor="let ch of championList | championFilter: searchInput; let ind = index;">

            <div class="card border-success just-box" style="height: 122px;width: 100px; margin: 5px;" (click)="pickChampion(ch.id)">

            <div style="height: 20px;">{{ch.name}}</div>
            <img src="../../../assets/images/champions/{{ch.id}}.png" >
            </div>
        
        </div>
    </div>
    <script>
            function messsage() {
                console.log("a");
            }
    </script>
</div>

